/* header awal */

header {
  margin-top: 68px;
}

header .poster {
  width: 100%;
  height: 300px;
  /* background-color: black; */
}

header .p-img {
  width: 100%;
}

/* header akhir */

/* nav awal */

input.me-2 {
  width: 800px;
}

nav .collapse {
  display: flex;
  gap: 10px;
}

/* nav akhir */

/* section awal */

section {
  margin-top: 50px;
  background-color: green;
}

section .container .card-body {
  border-left: 7px solid orange;
}

section ul {
  flex-wrap: wrap;
  gap: 27px;
}

section ul li {
  width: 22.5%;
  list-style-type: none;
}

.aku {
  width: 100px;
  height: 100px;
  background-color: pink;
  color: green;
  margin: 100px;
}

section .p-img {
  width: 300px;
  background-color: green;
}

/* section akhir */
